<h1>Editing Student</h1>

<%= render 'form', student: @student %>

<div class="container text-center">
<%= link_to 'Back', student_path,class: "btn btn-primary" %> | 
<%= link_to 'Show', @student,class: "btn btn-danger" %>
</div>