<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcomes!</h1>
    <p class="lead">Our mission is to make education accessible to everyone.</p>
  </div>
</div>