<%= content_for :title do %>
  <% t('title.krobei') %>
<% end %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    
    <h1 class="display-4"><%= t('home.welcomes')%>!</h1>
    <p class="lead"><%= t('home.our_mission')%>.</p>
  </div>
</div>