<h1>Editing Teacher</h1>

<%= render 'form', teacher: @teacher %>

<div class="container text-center">
<%= link_to 'Back', teachers_path,class: "btn btn-primary" %> | 
<%= link_to 'Show', @teacher,class: "btn btn-danger" %>
</div>


