<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Krobei", root_path, class: "navbar-brand" %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% navbar_items.each do |navbar_item| %>
        <li class="nav-item <%= 'active' if current_page?(navbar_item[:path]) %>">
          <%= link_to navbar_item[:title], navbar_item[:path], class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
